name: UAT Frontend Deployment

on:
  workflow_dispatch:  # Manual trigger
  repository_dispatch:
    # types: [trigger-uat-deploy]  # Trigger when the development branch is updated

env:
  IMAGE_TAG: "v${{ github.run_number }}"
  FRONTEND_IMAGE: "cloudgemsny/gemsny:uat-store-frontend-v${{ github.run_number }}"
  KUBECONFIG_FILE: "k8s/gemsny-uat.yaml"

jobs:
  deploy-frontend:
    runs-on: ubuntu-22.04      # Github cloud based runner

    steps:
    - name: Checkout cicd-uat-config
      uses: actions/checkout@v3
      with:
        repository: gemsnyindia/cicd-uat-config
        ref: main
        token: ${{ secrets.UAT_PUB_TOKEN }}
        path: cicd-config

    - name: Checkout GemsnyStoreFE
      uses: actions/checkout@v3
      with:
        repository: gemsnyindia/GemsnyStoreFE
        ref: uat-staging
        token: ${{ secrets.UAT_PUB_TOKEN }}
        path: GemsnyStoreFE

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_PASS }}

    - name: Export frontend environment variables
      run: |
        echo "NEXT_PUBLIC_TAG_MANAGER_ID=${{ secrets.NEXT_PUBLIC_TAG_MANAGER_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_LOCAL_URL=${{ secrets.NEXT_PUBLIC_LOCAL_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_IMAGES_CDN_PATH=${{ secrets.NEXT_PUBLIC_IMAGES_CDN_PATH }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_CAPTCHA_KEY=${{ secrets.NEXT_PUBLIC_CAPTCHA_KEY }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AFFIRM=${{ secrets.NEXT_PUBLIC_AFFIRM }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_LOCAL_ADMIN_URL=${{ secrets.NEXT_PUBLIC_LOCAL_ADMIN_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_BASIC_IMG=${{ secrets.NEXT_PUBLIC_BASIC_IMG }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_BASE_URL=${{ secrets.NEXT_PUBLIC_BASE_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_GOOGLE_MAP_API_KEY=${{ secrets.NEXT_PUBLIC_GOOGLE_MAP_API_KEY }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AMAZON_PAY_PUBLIC_KEY_ID=${{ secrets.NEXT_PUBLIC_AMAZON_PAY_PUBLIC_KEY_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AMAZON_PAY_STORE_ID=${{ secrets.NEXT_PUBLIC_AMAZON_PAY_STORE_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AMAZON_PAY_MERCHANT_ID=${{ secrets.NEXT_PUBLIC_AMAZON_PAY_MERCHANT_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AMAZON_PAY_REGION=${{ secrets.NEXT_PUBLIC_AMAZON_PAY_REGION }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AMAZON_PAY_SANDBOX=${{ secrets.NEXT_PUBLIC_AMAZON_PAY_SANDBOX }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_PAYPAL_CLIENT_ID=${{ secrets.NEXT_PUBLIC_PAYPAL_CLIENT_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_PAYPAL_CLIENT_SECRET=${{ secrets.NEXT_PUBLIC_PAYPAL_CLIENT_SECRET }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_PAYPAL_BASE_URL=${{ secrets.NEXT_PUBLIC_PAYPAL_BASE_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AFFIRM_PUBLIC_KEY=${{ secrets.NEXT_PUBLIC_AFFIRM_PUBLIC_KEY }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AFFIRM_API_URL=${{ secrets.NEXT_PUBLIC_AFFIRM_API_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_AFFIRM_PRIVATE_KEY=${{ secrets.NEXT_PUBLIC_AFFIRM_PRIVATE_KEY }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_PRODUCT_KEY=${{ secrets.NEXT_PUBLIC_PRODUCT_KEY }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_MEILEI_SEARCH_HOST=${{ secrets.NEXT_PUBLIC_MEILEI_SEARCH_HOST }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_MEILEI_SEARCH_API_KEY_FRONT=${{ secrets.NEXT_PUBLIC_MEILEI_SEARCH_API_KEY_FRONT }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_ADMINPANEL_URL=${{ secrets.NEXT_PUBLIC_ADMINPANEL_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_EXTEND_ENVIRONMENT=${{ secrets.NEXT_PUBLIC_EXTEND_ENVIRONMENT }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_EXTEND_STORE_ID=${{ secrets.NEXT_PUBLIC_EXTEND_STORE_ID }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_BING_SCRIPT_ALLOW=${{ secrets.NEXT_PUBLIC_BING_SCRIPT_ALLOW }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_ENVIRONMENT=${{ secrets.NEXT_PUBLIC_ENVIRONMENT }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_SITE_URL=${{ secrets.NEXT_PUBLIC_SITE_URL }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_EVENT_DELIVERY_NOTE_SHOW=${{ secrets.NEXT_PUBLIC_EVENT_DELIVERY_NOTE_SHOW }}" >> $GITHUB_ENV
        echo "NEXT_PUBLIC_MIN_LEAD_DAYS=${{ secrets.NEXT_PUBLIC_MIN_LEAD_DAYS }}" >> $GITHUB_ENV


    - name: Build Frontend Docker Image
      working-directory: GemsnyStoreFE
      run: |   
        # Build Docker image with all NEXT_PUBLIC_* args
        docker build \
          --build-arg NEXT_PUBLIC_TAG_MANAGER_ID=$NEXT_PUBLIC_TAG_MANAGER_ID \
          --build-arg NEXT_PUBLIC_LOCAL_URL=$NEXT_PUBLIC_LOCAL_URL \
          --build-arg NEXT_PUBLIC_IMAGES_CDN_PATH=$NEXT_PUBLIC_IMAGES_CDN_PATH \
          --build-arg NEXT_PUBLIC_CAPTCHA_KEY=$NEXT_PUBLIC_CAPTCHA_KEY \
          --build-arg NEXT_PUBLIC_AFFIRM=$NEXT_PUBLIC_AFFIRM \
          --build-arg NEXT_PUBLIC_LOCAL_ADMIN_URL=$NEXT_PUBLIC_LOCAL_ADMIN_URL \
          --build-arg NEXT_PUBLIC_BASIC_IMG=$NEXT_PUBLIC_BASIC_IMG \
          --build-arg NEXT_PUBLIC_BASE_URL=$NEXT_PUBLIC_BASE_URL \
          --build-arg NEXT_PUBLIC_GOOGLE_MAP_API_KEY=$NEXT_PUBLIC_GOOGLE_MAP_API_KEY \
          --build-arg NEXT_PUBLIC_AMAZON_PAY_PUBLIC_KEY_ID=$NEXT_PUBLIC_AMAZON_PAY_PUBLIC_KEY_ID \
          --build-arg NEXT_PUBLIC_AMAZON_PAY_STORE_ID=$NEXT_PUBLIC_AMAZON_PAY_STORE_ID \
          --build-arg NEXT_PUBLIC_AMAZON_PAY_MERCHANT_ID=$NEXT_PUBLIC_AMAZON_PAY_MERCHANT_ID \
          --build-arg NEXT_PUBLIC_AMAZON_PAY_REGION=$NEXT_PUBLIC_AMAZON_PAY_REGION \
          --build-arg NEXT_PUBLIC_AMAZON_PAY_SANDBOX=$NEXT_PUBLIC_AMAZON_PAY_SANDBOX \
          --build-arg NEXT_PUBLIC_PAYPAL_CLIENT_ID=$NEXT_PUBLIC_PAYPAL_CLIENT_ID \
          --build-arg NEXT_PUBLIC_PAYPAL_CLIENT_SECRET=$NEXT_PUBLIC_PAYPAL_CLIENT_SECRET \
          --build-arg NEXT_PUBLIC_PAYPAL_BASE_URL=$NEXT_PUBLIC_PAYPAL_BASE_URL \
          --build-arg NEXT_PUBLIC_AFFIRM_PUBLIC_KEY=$NEXT_PUBLIC_AFFIRM_PUBLIC_KEY \
          --build-arg NEXT_PUBLIC_AFFIRM_API_URL=$NEXT_PUBLIC_AFFIRM_API_URL \
          --build-arg NEXT_PUBLIC_AFFIRM_PRIVATE_KEY=$NEXT_PUBLIC_AFFIRM_PRIVATE_KEY \
          --build-arg NEXT_PUBLIC_PRODUCT_KEY=$NEXT_PUBLIC_PRODUCT_KEY \
          --build-arg NEXT_PUBLIC_MEILEI_SEARCH_HOST=$NEXT_PUBLIC_MEILEI_SEARCH_HOST \
          --build-arg NEXT_PUBLIC_MEILEI_SEARCH_API_KEY_FRONT=$NEXT_PUBLIC_MEILEI_SEARCH_API_KEY_FRONT \
          --build-arg NEXT_PUBLIC_ADMINPANEL_URL=$NEXT_PUBLIC_ADMINPANEL_URL \
          --build-arg NEXT_PUBLIC_EXTEND_ENVIRONMENT=$NEXT_PUBLIC_EXTEND_ENVIRONMENT \
          --build-arg NEXT_PUBLIC_EXTEND_STORE_ID=$NEXT_PUBLIC_EXTEND_STORE_ID \
          --build-arg NEXT_PUBLIC_BING_SCRIPT_ALLOW=$NEXT_PUBLIC_BING_SCRIPT_ALLOW \
          --build-arg NEXT_PUBLIC_ENVIRONMENT=$NEXT_PUBLIC_ENVIRONMENT \
          --build-arg NEXT_PUBLIC_SITE_URL=$NEXT_PUBLIC_SITE_URL \
          --build-arg NEXT_PUBLIC_AFFIRM_PUBLIC=$NEXT_PUBLIC_AFFIRM_PUBLIC \
          --build-arg NEXT_PUBLIC_EVENT_DELIVERY_NOTE_SHOW=$NEXT_PUBLIC_EVENT_DELIVERY_NOTE_SHOW \
          --build-arg NEXT_PUBLIC_MIN_LEAD_DAYS=$NEXT_PUBLIC_MIN_LEAD_DAYS \
          -t ${{ env.FRONTEND_IMAGE }} \
          -f ../cicd-config/Frontend/Dockerfile .

    - name: Push Frontend Docker Image
      run: docker push ${{ env.FRONTEND_IMAGE }}


  # =============================
  # Deploy to Kubernetes
  # =============================
  deploy-to-k8s:
    runs-on: [self-hosted, deploy-runner-pub]   # Server B (Deploy Server)
    needs: deploy-frontend  # Run only after build completes
    steps:
    - name: Checkout cicd-uat-config
      uses: actions/checkout@v3
      with:
        repository: gemsnyindia/cicd-uat-config
        ref: uat-staging
        token: ${{ secrets.UAT_PUB_TOKEN }}
        path: cicd-config

    - name: Deploy Frontend to Kubernetes
      working-directory: cicd-config
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      run: |
        # Remove old Docker secret
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} delete secret dockerhub-secret --ignore-not-found

        # Create new Docker secret
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} create secret docker-registry dockerhub-secret \
          --docker-username=$DOCKER_USER \
          --docker-password=$DOCKER_PASS \
          --docker-email=cloud@gemsny.in

        # Update frontend deployment image tag
        sed -i "s|cloudgemsny/gemsny:uat-store-frontend-.*|cloudgemsny/gemsny:uat-store-frontend-${IMAGE_TAG}|" ./k8s/frontend-deployment.yaml

        # Recreate frontend-env secret (only needed if you have private runtime vars)
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} delete secret frontend-env --ignore-not-found
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} create secret generic frontend-env \
          --from-env-file=/opt/config-env/frontendenv/.env

        # Apply Kubernetes manifests
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} apply -f ./k8s/frontend-deployment.yaml
        /var/lib/rancher/rke2/bin/kubectl --kubeconfig=${KUBECONFIG_FILE} apply -f ./k8s/frontend-service.yaml
